<%- include('partials/header') %>

    <body>

        <%- include('partials/navbar') %>

            <div class="container">
                <hr>
                <h2>
                    <%= pergunta.titulo %>
                </h2>
                <p>
                    <%= pergunta.assunto %>
                </p>
                <hr>
                <form method="POST" action="/responder">
                    <h3 class="respo">Minha Resposta</h3>

                    <textarea style="resize: none" name="corpo" id="" cols="30" rows="4"
                        placeholder="Escreva sua resposta..." class="form-control
                    "></textarea> <br>

                    <input type="hidden" name="perguntaId" value=" <%= pergunta.id %> ">

                    <button type="submit" class="btn btn-primary">Responder</button>
                </form>
                <hr>
                <h3 class="respo">Respostas</h3>
                <hr>
                <% respostas.forEach(resposta=> {%>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="minhaResp"><%= resposta.corpo %></p>
                        </div>
                    </div>
                    <% }) %>
            </div>

    </body>

    <%- include('partials/footer') %>